## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
!ls

Vacation_Search.ipynb __pycache__           config.py

In [11]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Nikolskoye,RU,2021-08-08 22:36:29,59.7035,30.7861,64.29,97,100,4.56,overcast clouds
1,1,Longyearbyen,SJ,2021-08-08 22:36:29,78.2186,15.6401,40.84,93,75,6.91,broken clouds
2,2,Bethel,US,2021-08-08 22:36:30,41.3712,-73.4140,80.71,73,90,5.75,light rain
3,3,Shunyi,CN,2021-08-08 22:36:30,40.1250,116.6453,69.75,94,20,11.18,light rain
4,4,Rikitea,PF,2021-08-08 22:36:30,-23.1203,-134.9692,74.52,75,1,12.21,clear sky

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Bethel,US,2021-08-08 22:36:30,41.3712,-73.4140,80.71,73,90,5.75,light rain
5,5,Khash,IR,2021-08-08 22:36:31,28.2211,61.2158,79.11,14,1,4.25,clear sky
9,9,Thinadhoo,MV,2021-08-08 22:30:37,0.5333,72.9333,80.04,77,89,3.83,overcast clouds
14,14,Tra Vinh,VN,2021-08-08 22:30:39,9.9347,106.3453,78.58,91,33,7.58,scattered clouds
21,21,Kapaa,US,2021-08-08 22:30:42,22.0752,-159.3190,86.32,64,40,3.00,scattered clouds
24,24,Albany,US,2021-08-08 22:30:40,42.6001,-73.9662,84.85,58,22,5.88,few clouds
26,26,Jamestown,US,2021-08-08 22:26:55,42.0970,-79.2353,83.52,71,1,3.00,clear sky
27,27,Puerto Ayora,EC,2021-08-08 22:27:07,-0.7393,-90.3518,75.16,84,52,7.00,broken clouds
30,30,Kavieng,PG,2021-08-08 22:27:19,-2.5744,150.7967,82.31,75,99,10.51,light rain
33,33,Sarangarh,IN,2021-08-08 22:30:46,21.6000,83.0833,79.88,77,78,4.79,broken clouds

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                214
City                   214
Country                214
Date                   214
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Weather Description    214
dtype: int64

In [15]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [16]:
preferred_cities_df.notnull().sum()

City_ID                214
City                   214
Country                214
Date                   214
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Weather Description    214
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Bethel,US,2021-08-08 22:36:30,41.3712,-73.4140,80.71,73,90,5.75,light rain
5,5,Khash,IR,2021-08-08 22:36:31,28.2211,61.2158,79.11,14,1,4.25,clear sky
9,9,Thinadhoo,MV,2021-08-08 22:30:37,0.5333,72.9333,80.04,77,89,3.83,overcast clouds
14,14,Tra Vinh,VN,2021-08-08 22:30:39,9.9347,106.3453,78.58,91,33,7.58,scattered clouds
21,21,Kapaa,US,2021-08-08 22:30:42,22.0752,-159.3190,86.32,64,40,3.00,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
657,657,Labuhan,ID,2021-08-08 22:35:17,-6.8844,112.2051,77.09,88,41,7.78,scattered clouds
661,661,Tabou,CI,2021-08-08 22:35:19,4.4230,-7.3528,75.65,87,46,10.04,light rain
662,662,Bolobo,CD,2021-08-08 22:35:19,-2.1667,16.2333,78.71,49,97,1.66,overcast clouds
666,666,Ban Nahin,LA,2021-08-08 22:35:21,18.2418,104.2122,77.07,97,100,1.59,overcast clouds
668,668,Kieta,PG,2021-08-08 22:35:22,-6.2167,155.6333,82.40,69,36,2.42,scattered clouds

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Bethel,US,80.71,light rain,41.3712,-73.4140,
5,Khash,IR,79.11,clear sky,28.2211,61.2158,
9,Thinadhoo,MV,80.04,overcast clouds,0.5333,72.9333,
14,Tra Vinh,VN,78.58,scattered clouds,9.9347,106.3453,
21,Kapaa,US,86.32,scattered clouds,22.0752,-159.3190,
24,Albany,US,84.85,few clouds,42.6001,-73.9662,
26,Jamestown,US,83.52,clear sky,42.0970,-79.2353,
27,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,
30,Kavieng,PG,82.31,light rain,-2.5744,150.7967,
33,Sarangarh,IN,79.88,broken clouds,21.6000,83.0833,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Bethel,US,80.71,light rain,41.3712,-73.4140,Courtyard by Marriott Danbury
5,Khash,IR,79.11,clear sky,28.2211,61.2158,دفتر پیشخوان دولت جمال زهی (خالد)
9,Thinadhoo,MV,80.04,overcast clouds,0.5333,72.9333,
14,Tra Vinh,VN,78.58,scattered clouds,9.9347,106.3453,Hồng Ân
21,Kapaa,US,86.32,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Albany,US,84.85,few clouds,42.6001,-73.9662,
26,Jamestown,US,83.52,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
27,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Kavieng,PG,82.31,light rain,-2.5744,150.7967,Nusa Island Retreat
33,Sarangarh,IN,79.88,broken clouds,21.6000,83.0833,JAGDISH STAINLESS STEEL WORK SHOP

In [27]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Bethel,US,80.71,light rain,41.3712,-73.4140,Courtyard by Marriott Danbury
5,Khash,IR,79.11,clear sky,28.2211,61.2158,دفتر پیشخوان دولت جمال زهی (خالد)
14,Tra Vinh,VN,78.58,scattered clouds,9.9347,106.3453,Hồng Ân
21,Kapaa,US,86.32,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
26,Jamestown,US,83.52,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...,...
656,Sterling,US,89.76,scattered clouds,39.0062,-77.4286,Hampton Inn & Suites Washington-Dulles Interna...
657,Labuhan,ID,77.09,scattered clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
661,Tabou,CI,75.65,light rain,4.4230,-7.3528,hotêl doufoulougou
662,Bolobo,CD,78.71,overcast clouds,-2.1667,16.2333,Hotel de Stephen
668,Kieta,PG,82.40,scattered clouds,-6.2167,155.6333,Uruna Bay Retreat

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))